.dart_tool/
.build/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.iml
.idea/
android/.gradle/
android/local.properties
android/key.properties
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
macos/Pods/
linux/flutter/ephemeral/
windows/flutter/ephemeral/
